body {
  background-color: black;
  font-size: 16px;
  font-family: Suisseintl, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div {
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.25;
}

.container {
  display: grid;
  grid-template-columns: 1fr min(1440px, 94%) 1fr;
  grid-template-rows: 96px auto 72px;
}

.container > * {
  grid-column: 2;
}

.container > .fluid {
  grid-column: 1 / -1;
}

a {
  text-decoration: none;
}

